/* стилти из журнала - удалить при переносе в журнал  */
.move{
    background: url(../himgs/more_vert_black_24dp.svg);
    padding-left: 13px;
    background-repeat: no-repeat;
    background-position: -2px;
    z-index: 1;
    cursor: move;
}
input {
    width: 100%;
    height: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    border-radius: 7px;
    margin-left: 7px;
    border: none;
    padding-left: 15px;
}

select {
    width: 100%;
    height: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    border-radius: 7px;
    margin-left: 7px;
    border: none;
    padding-left: 15px;
}

.pluseHeadre {
    width: 21px;
    margin-left: 3px;
}

.bgbutton {
    color: rgba(86, 77, 78, 1);
    background: #FFFFFF;
    border: 1px solid rgba(54, 46, 47, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    white-space: nowrap;
    margin: 10px 7px;
    padding: 10px 15px;
    border-radius: 6px;
}

input[type=checkbox] {
    width: 25px !important;
    height: 25px;
    margin-left: 6px;
    position: relative;
    cursor: pointer;
}

.f1{
    flex:1;
}
.f2{
    flex:2;
}
.f3{
    flex:3;
}
.tr {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.td {
    flex: auto;
    display: flex;
    align-items: center;
    min-height: 50px;
    overflow: hidden;
    padding-right: 5px;
}
input[type="text"] {
    min-width: 100px;
    line-height: 25px;
}
.minw175 {
    min-width: 175px;
}
.padL7 {
    padding-left: 7px;
}
.pluseHeadre img {
    width: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
#Hmenu button{
    color: rgba(86, 77, 78, 1);
    background: #FFFFFF;
    border: 1px solid rgba(54, 46, 47, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    white-space: nowrap;
    margin: 10px 7px;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}
#Hmenu button:hover{
    background: #b0cfb1;
}


/* 294px */
