
.container{
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.column{
    
    flex-basis: 20%;
    /* background: #ddd; */
    min-height: 40px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(208, 206, 206, 0.8);
}
.column h1{
    text-align: center;
    font-size: 22px;
    margin: 0px;
    padding: 10px;
}
#itemBlue{
    padding: 1px 20px;
    cursor: pointer;
}
.item{
    padding:5px 20px;
    cursor: pointer;
    opacity: 1;
    display:block;
    position: relative;
    /* background: white; */
    margin: 0px 3px;

}
.itemButtons{
    padding:5px 20px;
    cursor: pointer;
    opacity: 1;
    display:block;
    position: relative;
    /* background: white; */
    margin: 0px 3px;

}
.itemblock{    
    /* background: #fff; */
    padding:1px;
    border-radius: 3px;
    transition:  .001s;
    display: flex;
    flex-direction: row;
}
.itemBlue{
    background: blue;
    /* margin: 1px 20px; */
    padding: 1px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.drag-enter{    border:1px solid blue;}
.invisible{ padding:5px 20px; }
.invisible>.itemblock{
    border:1px solid blue;
    opacity: .5;
    /* visibility: hidden;  */

}
.hidden{
    display: none;
}
#Hmenu>img{
    margin: 20px;
    width: 100px;

}
h1{
    margin: 20px;
}

.maxw294 {
    justify-content: flex-start;
    max-width: 294px;
}

.ofNotHidden{
    overflow: unset !important;
}

.moveLeftH{
    position: relative;
    width: 15px;
}
.moveLeft{
    position: relative;
    width: 30px;
}
.leftToInpH{
    position: absolute;
    top: -51px;
    left: 8px;
    width: 12px;
    height: 50px;
    /* border-left: 1px solid #ccc; */
    border-bottom: solid 1px #ccc;
}
.leftToInp{
    position: absolute;
    top: -51px;
    left: 8px;
    width: 24px;
    height: 50px;
    /* border-left: 1px solid #ccc; */
    border-bottom: solid 1px #ccc;
}
.leftToInp2{
    position: absolute;
    top: -71px;
    left: 8px;
    width: 24px;
    height: 69px;
    /* border-left: 1px solid #ccc; */
    border-bottom: solid 1px #ccc;
}
.leftToBut{
    position: absolute;
    top: -71px;
    left: 8px;
    width: 24px;
    height: 69px;
    /* border-left: 1px dashed  #ccc; */
    /* border-bottom: dashed  1px #ccc; */
}

.moveLeft img{
    position: absolute;
    top: -73px;
    right: -5px;
}

.moveNoImg{
   
    padding-left: 6px;
    background-repeat: no-repeat;
    background-position: -2px;
    z-index: 1;
 
}

.trH {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.absLine{
    position: absolute;
    height: calc(100% - 145px);
    width: 20%;
    top: 31px;
    left: 59px;
    border-left: 1px solid grey;
}
.absButLine{
    position: absolute;
    bottom: 43px;
    left: 59px;
    width: 37px;
    height: 69px;
    border-left: 1px dashed #ccc;
    border-bottom: dashed 1px #ccc;
}
.move{
    position: relative;
    left: -6px;
}