fullscreen{
    display: block;
    position: fixed;
    top: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;
 
    background: rgba(54, 54, 54, 0.65);
    transition: 0.5s;
    z-index: 3000;
    transition: 1s;
}
HLoader{
    /* background-image: url(./HLoader.svg); */
    display: block;
    position: relative;
    left: 45%;
    top: 40%;
    width: 150px;
    height: 174px;
    background-size: cover;
    overflow: hidden;
  
}
light{
    position: absolute;
    color: white;
    top: 427px;
    height: 100%;
    width: 81px;
    transform: skewX(0deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(219deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.1));
    animation: HLoad 10s infinite;
    border-radius: 381px;
    }

@keyframes HLoad {

    0% {
        top: 15px;
        left: 49px;
        opacity: 0;
        height: 86px;
        width: 86px;
    }
    50% {
        opacity: 1;
        height: 67px;
        transform: translateY(10px);
        background: linear-gradient(219deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.4));
        width: 67px;
    }
    100% {
        transform: skewX(0deg);
        height: 56px;
        left: 49px;
        opacity: 0;
        width: 56px;
        top: 34px;
    }
  }
    *{
        margin: 0;
        padding: 0;
    }

    .opasity0{
        opacity: 0 !important;
    }
    .opasity1{
        opacity: 0 !important;
    }